@font-face {
  font-family: "reaver";
  src: url("/fonts/reaver-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "reaver";
  src: url("/fonts/reaver-semibold.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "reaver";
  src: url("/fonts/reaver-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
